* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background-color: lightblue;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  margin-bottom:20px ;
}

form {
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0
}

li {
  list-style: none;
}

.box {
  border: 2px solid black;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* ------- Create build ------- */

#stats div{
  display: flex;
  justify-content: space-between;
}

/* -------- Build-List ------------- */

#build-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.build-li {
  list-style: none;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  max-width: 500px
}

/* -------- build-view -------- */

div.section-container {
  display: flex;
}